.order-info {
    background: white;
    font-weight: bold;
    text-transform: capitalize;
    margin:10px;
    width: auto;
    height:40px;
    padding:10px;
    border-radius: 10px;
}

.process-button {
    float: right;
}

.order-info > span {
    padding:20px;
}

#customer-orders {
    background: white;
    border-radius: 4px;
    box-shadow: #100a06;
    table-layout: fixed;
}

#customer-orders > thead> tr> th {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    font-size: 10pt;
}

#customer-orders >tbody > tr > td {
    text-align: center;
    vertical-align: middle;
    height: 20px;
    line-height: 20px;
}


#customer-orders >tbody >tr:hover {
    background: #cdffc0;
}
