.order-holder {
    width: auto;
    height: auto;
    background: white;
    border-radius: 10px;
}

#process-button {
    float: left;
    width: 200px;
}

.order-info > span {
    display: block;
    padding: 10px;
    text-align: left;
    margin-left:5px;
}

#customer-orders {
    background: white;
    border-radius: 4px;
    box-shadow: #100a06;
    table-layout: fixed;
}

#customer-orders > thead> tr> th {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    font-size: 10pt;
}

#customer-orders >tbody > tr > td {
    text-align: center;
    vertical-align: middle;
    height: 20px;
    line-height: 20px;
}


#customer-orders >tbody >tr:hover {
    background: #cdffc0;
}
