.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.container {
    padding: 0 60px;
    min-width: 600px;
}

.item-pane {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    max-width: 900px;
    padding: 26px;
    margin: 26px auto;
    background: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.item-preview {
    margin-right: 26px;
    padding: 26px;
}

.item-preview,
.item-details {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.pane__section {
    padding-top: 26px;
}
.pane__section:not(:last-child) {
    padding-bottom: 26px;
    border-bottom: 1px solid #d4d4d4;
}

h1,
.item-price {
    font-family: 'Roboto Slab', Roboto, sans-serif;
    font-weight: 400;
    font-size: 2em;
}

h1 {
    margin-bottom: 0.4em;
    margin-top: 0.4em;
}

.subtitle {
    font-family: 'Roboto Slab', Roboto, sans-serif;
    font-weight: 300;
    font-size: 1.3em;
}

a {
    color: #0db5db;
}

.item-price__units {
    font-weight: 300;
}

p {
    line-height: 1.4;
}

.button {
    padding: 0.6em 1em;
    font-weight: 400;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    background: #80db65;
    border-radius: 3px;
}
.button:hover {
    background: #5ed13c;
}

dl {
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    line-height: 1.8em;
    margin: -0.4em 0;
}

dt,
dd {
    display: inline;
}

dt {
    font-weight: 800;
}
dt:after {
    content: ': ';
}

dd:after {
    content:'';
    display: block;
}

.buy-button {
    float: right;
}

.product {
    position: relative;
    width: 216px;
    height: 322px;
    border-radius: 10px;
    transition: all .2s ease-in-out;
}
.product:hover{
    transform: scale(1.6);
}
